.modal-frame {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 25%;
  background-color: white;
}
.input-email {
  border-radius: 5px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
  padding: 10px;
  width: 300px;
}
.input-phone {
  border-radius: 5px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
  padding: 10px;
  width: 300px;
}
.findmodal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.ReactModal__Content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  border-radius: 10px;
  border: solid 1px #bebebe;
}

.fidnBtn {
  width: 160px;
  height: 45px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
  display: inline;
}
.closeBtn {
  width: 160px;
  height: 45px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
  display: inline;
}

.findEmailTitle {
  align-self: start;
  margin-left: 40px;
  font-size: 28px;
}

.findPsTitle {
  align-self: start;
  margin-left: 40px;
  font-size: 28px;
}

.findPsTextBox {
  margin-left: 40px;
}
