#modal {
  width: 100vw;
  height: 100vh;
  background: black;
  display: block;
  position: absolute;
  transition: opacity 0.6s;
  opacity: 0.5;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#writeBg {
  width: 100vw;
  height: 200px;
  position: absolute;
  z-index: 20;
}

#writeBg button {
  margin: 0;
  padding: 0;
  align-self: center;
  width: 60px;
  height: 24px;
}

#writeBox {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
}
#titleText {
  width: 436px;
  height: 36px;
  border-radius: 12px;
  /* box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2); */
  /* border: 0; */
  border: 1px solid #848484;
  margin-top: 24px;
  font-size: 16px;
  padding-left: 24px;
}

#contentText {
  width: 436px;
  height: 60%;
  border-radius: 12px;
  /* box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2); */
  /* border: 0; */
  border: 1px solid #848484;
  margin-top: 24px;
  font-size: 16px;
  resize: none;
  padding-left: 24px;
  padding-top: 12px;
}

#buttons {
  display: flex;
  margin-top: 24px;
}

#buttons button {
  margin: 0px 8px 0px 8px;
  font-size: 16px;
  width: 120px;
  height: 32px;
  border-radius: 8px;
  /* border: none; */
  border: 1px solid #848484;
  background-color: white;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
}
