* {
  font-family: "Montserrat";
}

.nav {
  padding-top: 46px;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#navTitle {
  display: contents;
  font-size: 60px;
  font-weight: 700;
  cursor: pointer;
}

#public,
#my,
#search,
#profile {
  text-decoration: none;
  margin-left: 24px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 300;
  color: #848484;
}

#navDivider {
  margin-top: 24px;
  text-decoration: none;
  margin-left: 24px;
  font-size: 20px;
  font-weight: 300;
  color: #848484;
}

#public:visited,
#my:visited,
#profile:visited {
  color: black;
}

#public {
  color: black;
  font-weight: 500;
}

#search {
  box-sizing: border-box;
  margin-top: 24px;
  border: 1px solid #848484;
  width: 280px;
  height: 32px;
  border-radius: 16px;
  margin-left: 24px;
  padding-left: 20px;
  font-size: 14px;
}

#searchSubmit {
  margin-top: 24px;
  color: gray;
  border: none;
  background: none;
}

#writeBtn {
  margin-left: 24px;
  margin-top: 24px;
}

@media (max-width: 768px) {
  .nav {
    padding-top: 42px;
    /* justify-content: center; */
    /* padding-left: 120px;
    padding-right: 120px; */
  }
  #navTitle {
    display: flex;
    font-size: 42px;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
