.profileContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileContainer_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 637px;
  width: 380px;
}
.profileTitle {
  align-self: start;
  font-size: 3rem;
  margin: 20px;
}
.profileText {
  align-self: start;
  padding-left: 40px;
  float: left;
}
.profileSubText {
  align-self: start;
  padding-left: 40px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  float: left;
}
.passwordChange {
  color: gray;
  align-self: start;
  padding-left: 40px;
}
.profileContainer_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 637px;
  width: 444px;
}
.profileUserinfo {
  font-size: 1.5rem;
  margin: 20px;
  align-self: start;
}
.profileUserinfoEdit {
  padding-left: 20px;
  font-size: 1rem;
  color: gray;
}
.profileUserinfoRight {
  font-size: 1.5rem;

  align-self: start;
}
.profileUserinfoEditRight {
  font-size: 1rem;
  color: gray;
  padding-left: 20px;
}
.logbtn {
  font-size: 0.7rem;
  width: 60px;
  height: 35px;
  margin: 20px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
  align-self: start;
}

.contentImg {
  height: 240px;
}

.logbtn:hover {
  cursor: pointer;
}
.profileTitle:hover {
  cursor: pointer;
}
.profileUserinfoEdit:hover {
  cursor: pointer;
}
.passwordChange:hover {
  cursor: pointer;
}
.profileUserinfoEditRight:hover {
  cursor: pointer;
}

.profileImg {
  align-self: center;
}
