.cardContainor {
  /* border: 1px solid red; */
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 46px;
  /* height: 75%; */
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 200px;
  flex-wrap: wrap;
  margin: 10px;
  height: 160px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background-color: white;
}
.card div {
  color: white;
  text-shadow: 1px 1px 2.5px #000000;
}

#ani {
  display: flex;
  justify-content: center;
}
#animate {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 200px;
  height: 200px;
  background-color: tomato;
  /* transform: rotate(45deg); */
  animation: deg 3s infinite;
}
@keyframes deg {
  50% {
    transform: rotate(45deg);
  }
}
#animate:hover {
  background-color: blue;
}

@media (max-width: 768px) {
  .cardContainor {
    /* border: 1px solid red; */
    padding-left: 24px;
    padding-right: 24px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .card {
    height: 46px;
    border-radius: 6px;
  }

  .card div {
    font-size: 14px;
  }
}
