body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* border: 1px solid red; */
}

h1 {
  font-family: "Montserrat";
}

#root {
  height: 100vh;
}

.container {
  height: 100vh;
  display: flex;
  /* border: 1px solid green; */
}

.left {
  flex: 1;
  /* border: 1px solid aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoTag {
  width: 444px;
  border-radius: 25px;
}

.right {
  flex: 1;
  /* border: 1px solid aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
