body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

div,
h1 {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container_center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.container_right {
  display: flex;
  height: 637px;
  width: 444px;
  flex-direction: column;
  align-items: center;

  /* justify-content: space-between; */
}

.main_title {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: Montserrat;
  font-size: 60px;
}
.text_Box {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
}
.main_text {
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
  padding-bottom: 100px;
}

.main_loginbtn {
  width: 193px;
  height: 45px;
  margin: 20px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
}
.main_Gestloginbtn {
  width: 193px;
  height: 45px;
  margin: 10px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
}
.main_signUpbtn {
  width: 193px;
  height: 45px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
  position: relative;
}

.find-ID-find-PW {
  font-size: 1rem;
}

.videoTag {
  height: 637px;
  width: 444px;
  border-radius: 25px;
  outline: none;
}

.login_error_massage {
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: red;
  font-size: 0.9rem;
}
.main_icon {
  padding-top: 70px;
}

/* input[type='text'],
input[type='phone'],
input[type='email'],
input[type='password'] {
  width: 300px;
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0.4rem;
} */

.signup_Logo:hover {
  cursor: pointer;
}
.main_loginbtn:hover {
  cursor: pointer;
}
.main_Gestloginbtn:hover {
  cursor: pointer;
}
.find-ID-find-PW:hover {
  cursor: pointer;
}
.main_icon:hover {
  cursor: pointer;
}