body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  font-family: 'Montserrat';
}

#root {
  height: 100vh;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_left {
  display: flex;
}
.container_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 637px;
  width: 444px;
}

.main_title {
  font-family: Montserrat;
  font-size: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_Box {
  width: 350px;
  height: 45px;
  margin: 20px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
}
.main_ID {
  width: 300px;
  height: 65px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
}
.main_PS {
  width: 300px;
  height: 65px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
}
.main_loginbtn {
  width: 193px;
  height: 45px;
  margin: 20px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
}
.main_Gestloginbtn {
  width: 193px;
  height: 45px;
  margin: 20px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
}
.main_signUpbtn {
  width: 193px;
  height: 45px;
  margin-top: 20px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
  position: relative;
}
.find-ID-find-PW {
  position: relative;
  margin-top: 80px;
  font-family: Montserrat;
  font-size: 20px;
}

.videoTag {
  height: 637px;
  width: 444px;
  border-radius: 25px;
  outline: none;
}

.login_error_massage {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.main_icon {
  position: relative;
  margin-top: 50px;
}

input[type='text'],
input[type='phone'],
input[type='email'],
input[type='password'] {
  width: 300px;
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0.4rem;
}
.signup_Logo:hover {
  cursor: pointer;
}
