body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  font-family: 'Montserrat';
}

#root {
  height: 100vh;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_left {
  display: flex;
}
.container_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 637px;
  width: 444px;
}

.main_title {
  font-family: Montserrat;
  font-size: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_ID {
  width: 350px;
  height: 45px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
}
.main_PS {
  width: 350px;
  height: 45px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
}
.main_loginbtn {
  width: 193px;
  height: 45px;
  margin: 20px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
}
.main_signUpbtn {
  width: 193px;
  height: 45px;
  margin-top: 20px;
  border-radius: 10px;
  border: solid 1px #bebebe;
  background-color: #f5f5f5;
}
.find-ID-find-PW {
  margin-top: 80px;
  font-family: Montserrat;
  font-size: 20px;
}

.videoTag {
  height: 637px;
  width: 444px;
  border-radius: 25px;
  outline: none;
}

.main_icon {
  margin-top: 50px;
}
